#main-calendar table{
    margin: auto;
    border: none !important;
    border-collapse: separate !important;
    empty-cells: hide;

}
#main-calendar tr{
    border: none !important;
}
#main-calendar td{
    border-radius: 50% !important;
    width: 125px;
    height: 125px;
    border-collapse: separate !important;
}
.day-number{
    display: table;
    margin: auto;
    font-size: 70px;
    z-index: 1;
}
#main-calendar .calendar-day-head{

    text-align: center;
    margin: auto !important;
    border: none !important;
}
#main-calendar .calendar-day-head:first-child,
#main-calendar .calendar-day-head:last-child{
    color:red;
}

.input-group{
    margin: auto;
    margin-top: 30px;
    margin-bottom:30px;
    max-width: 400px;
}
.calendar-title{
    text-align: center;
}
#title-date{
    text-align: center;
}


.btn-danger {
    display: none;
}

.modal .btn-danger {
    display: block;
}
.note{
    display: none;
}
.note-view .note{
    display: block;
}
.note-days{
    background-color: #BDBDBD;
    opacity: .8;
}
.control{
    display: none;
}
#date-picker-month,
#date-picker-year{
    display: inline-table;
    margin:8px 20px 5px 20px;
}
#date-picker-btn{
    display: inline-table;
    margin:5px 20px 5px 20px;
}
.nav-control{
    width: 100px;
    margin: 20px;
}
.note{
    margin: 10px;

}
.delete-button{
    margin:10px;
    float: right;
}
.badge{
    position: relative;
    background-color: red;
}
