#main-calendar table{
    margin: auto;
    border: none !important;
    border-collapse: separate !important;
    empty-cells: hide;

}
#main-calendar tr{
    border: none !important;
}
#main-calendar td{
    border-radius: 50px !important;
    width: 100px;
    height: 100px;
    border-collapse: separate !important;
}
.day-number{
    display: table;
    margin: auto;
    font-size: 70px;
}
#main-calendar .calendar-day-head{

    text-align: center;
    margin: auto !important;
    border: none !important;
}
#main-calendar .calendar-day-head:first-child,
#main-calendar .calendar-day-head:last-child{
    color:red;
}

#main-calendar .calendar-day-today{
    background-color: #2E9AFE;
}
.input-group{
    margin: auto;
    margin-top: 30px;
    margin-bottom:30px;
    max-width: 400px;
}
.calendar-title{
    text-align: center;

}
#select-year{
    display: inline-block;

}
#select-month{
    display: inline-block;

}
#title-date{
    text-align: center;
}
.note-background{
    background-color:#5882FA;

}

.btn-danger {
    display: none;
}

.modal .btn-danger {
    display: block;
}